/.env
# compiled output
/client/tmp
/client/out-tsc
# Only exists if Bazel was run
/client/bazel-out
# dependencies
/node_modules
/client/node_modules
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*