<app-header></app-header>
<div
    method="GET"
    class="d-flex justify-content flex-column align-items-center"
>
    <p>
       Отправить приглашение в друзья 
    </p>
    <input
        placeholder="Email"
        type="email"
        class="m-2 w-25 form-control"
        [(ngModel)]="email"
        [ngModelOptions]="{standalone:true}"
    />
    <input
        placeholder="Пароль"
        type="password"
        class="m-2 w-25 form-control"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone:true}"
    />
    <p
        *ngIf="isErrors"
        class="errors"
    >
        Вы неправильно ввели E-mail или пароль
    </p>
    <button
        class="btn btn-primary"
        (click)="checkUser()"
    >
        Войти
    </button>
</div> 
