<app-header></app-header>
<form
    ngNoForm
    #form
    method="POST"
    action="{{'api/games/create?name=' + gameName + '&url=' + gameUrl + '&image=' + gameImg + '&platform=' + platform + '&price=' + getPrice() + '&tags=' + getTagRelations()}}"
    class="d-flex justify-content flex-column align-items-center"
    enctype="multipart/form-data"
>
    <input
        placeholder="Название игры"
        type="text"
        class="m-2 w-25 form-control"
        [(ngModel)]="gameName"
        [ngModelOptions]="{standalone:true}"
    />
    <input
        name="gameDistributive"
        placeholder="Ссылка на дистрибутив игры"
        type="file"
        class="m-2 w-25 form-control"
        #gameUrl
        (click)="openDistributtive($event)"
    />
    <input
        name="gameThumbnail"
        placeholder="Ссылка на иконку игры"
        type="file"
        class="m-2 w-25 form-control"
        #gameImg
        (click)="openThumbnail($event)"
    />
    <select
        class="m-2 form-select w-25"
        aria-label="Default select example"
        #platformSelector
        (change)="onChangePlatform()"
    >
        <option
            value="Любая"
        >
            Любая
        </option>
        <option
            value="Windows"
        >
            Windows
        </option>
        <option
            value="Linux"
        >
            Linux
        </option>
        <option
            value="macOS"
        >
            macOS
        </option>
    </select>
    <div
        class="form-check m-3"
    >
        <input
            checked
            name="price"
            id="free"
            type="radio"
            class="form-check-input"
            (change)="disablePriceField()"
        />
        <label
            class="form-check-label"
            for="free"
        >
            Бесплатная
        </label>
    </div>
    <div
        class="form-check m-3"
    >
        <input
            name="price"
            id="pay"
            type="radio"
            class="form-check-input"
            (change)="enablePriceField()"
        />
        <label
            class="form-check-label"
            for="pay"
        >
            Платная
        </label>
    </div>
    <input
        required
        min="99"
        [disabled]="getDisabledPrice()"    
        placeholder="Цена игры"
        type="number"
        class="m-2 w-25 form-control"
        [(ngModel)]="price"
        [ngModelOptions]="{standalone:true}"
    />
    <div
        *ngFor="let tag of tags"
        class="form-check m-3"
    >
        <input
            checked
            id="free"
            type="checkbox"
            class="form-check-input"
            (change)="toggleTag($event, tag)"
        />
        <label
            class="form-check-label"
            for="free"
        >
            {{
                tag['title']
            }}
        </label>
    </div>
    <button
        class="btn btn-primary"
        (click)="uploadFiles()"
    >
        Добавить игру
    </button>
</form>
<style>

</style>