<app-header></app-header>
<form
    ngNoForm
    #form
    method="POST"
    action="{{'api/games/create?name=' + gameName + '&platform=' + platform + '&price=' + getPrice() + '&tags=' + getTagRelations() + '&type=' + type + '&genre=' + genre + '&desc=' + desc + '&developer=' + developer + '&editor=' + editor }}"
    class="d-flex justify-content flex-column align-items-center"
    enctype="multipart/form-data"
>
    <input
        placeholder="Название игры"
        type="text"
        class="m-2 w-25 form-control"
        [(ngModel)]="gameName"
        [ngModelOptions]="{standalone:true}"
    />
    <input
        name="gameDistributive"
        placeholder="Ссылка на дистрибутив игры"
        type="file"
        class="m-2 w-25 form-control"
        #gameUrl
        (click)="openDistributtive($event)"
    />
    <input
        name="gameThumbnail"
        placeholder="Ссылка на иконку игры"
        type="file"
        class="m-2 w-25 form-control"
        #gameImg
        (click)="openThumbnail($event)"
    />
    <select
        class="m-2 form-select w-25"
        aria-label="Default select example"
        #platformSelector
        (change)="onChangePlatform()"
    >
        <option
            value="Любая"
        >
            Любая
        </option>
        <option
            value="Windows"
        >
            Windows
        </option>
        <option
            value="Linux"
        >
            Linux
        </option>
        <option
            value="macOS"
        >
            macOS
        </option>
    </select>
    <div
        class="form-check m-3"
    >
        <input
            checked
            name="price"
            id="free"
            type="radio"
            class="form-check-input"
            (change)="disablePriceField()"
        />
        <label
            class="form-check-label"
            for="free"
        >
            Бесплатная
        </label>
    </div>
    <div
        class="form-check m-3"
    >
        <input
            name="price"
            id="pay"
            type="radio"
            class="form-check-input"
            (change)="enablePriceField()"
        />
        <label
            class="form-check-label"
            for="pay"
        >
            Платная
        </label>
    </div>
    <input
        required
        min="99"
        [disabled]="getDisabledPrice()"    
        placeholder="Цена игры"
        type="number"
        class="m-2 w-25 form-control"
        [(ngModel)]="price"
        [ngModelOptions]="{standalone:true}"
    />
    <div
        *ngFor="let tag of tags"
        class="form-check m-3"
    >
        <input
            checked
            id="free"
            type="checkbox"
            class="form-check-input"
            (change)="toggleTag($event, tag)"
        />
        <label
            class="form-check-label"
            for="free"
        >
            {{
                tag['title']
            }}
        </label>
    </div>
    <select
        class="m-2 form-select w-25"
        aria-label="Default select example"
        #typeSelector
        (change)="onChangeType()"
    >
        <option
            value="Продукты в раннем доступе"
        >
            Продукты в раннем доступе
        </option>    
        <option
            value="Программы"
        >
            Программы
        </option>
        <option
            value="Видео"
        >
            Видео
        </option>
        <option
            value="Cаундтреки"
        >
            Cаундтреки
        </option>
        <option
            value="Невыпущенные продукты"
        >
            Невыпущенные продукты
        </option>
    </select>
    <select
        class="m-2 form-select w-25"
        aria-label="Default select example"
        #genreSelector
        (change)="onChangeGenre()"
    >
        <option
            value="Инди"
        >
            Инди
        </option>    
        <option
            value="Экшен"
        >
            Экшен
        </option>
        <option
            value="Приключение"
        >
            Приключение
        </option>
        <option
            value="Казуальная игра"
        >
            Казуальная игра
        </option>
        <option
            value="Симулятор"
        >
            Симулятор
        </option>
        <option
            value="Геройский шутер"
        >
            Геройский шутер
        </option>    
        <option
            value="Баскетбол"
        >
            Баскетбол
        </option>
        <option
            value="Гонки"
        >
            Гонки
        </option>
        <option
            value="Зомби"
        >
            Зомби
        </option>
        <option
            value="Спортивная игра"
        >
            Спортивная игра
        </option>
    </select>
    <textarea
        placeholder="Описание игры"
        type="text"
        class="m-2 w-25 form-control"
        [(ngModel)]="desc"
        [ngModelOptions]="{standalone:true}"
    ></textarea>
    <input
        placeholder="Разработчик игры"
        type="text"
        class="m-2 w-25 form-control"
        [(ngModel)]="developer"
        [ngModelOptions]="{standalone:true}"
    />
    <input
        placeholder="Издатель игры"
        type="text"
        class="m-2 w-25 form-control"
        [(ngModel)]="editor"
        [ngModelOptions]="{standalone:true}"
    />
    <button
        class="btn btn-primary"
        (click)="uploadFiles()"
    >
        Добавить игру
    </button>
</form>
<style>

</style>