<app-header></app-header>
<form
    class="m-auto w-25 d-flex flex-column align-items-center"
>
    <input
        placeholder="Дата начала"
        type="date"
        class="m-2 form-control"
        [(ngModel)]="startDate"
        [ngModelOptions]="{standalone:true}"
    />
    <input
        placeholder="Дата окончания"
        type="date"
        class="m-2 form-control"
        [(ngModel)]="endDate"
        [ngModelOptions]="{standalone:true}"
    />
    <button
        class="m-2 btn btn-primary"
        (click)="sendMail()"
    >
        Уведомить
    </button>
</form>