<a
    (click)="addGame()"
    class="m-3 link-primary btn"
>
    Создать игру
</a>
<a
    class="m-3 link-secondary btn"
    (click)="addNews()"
>
    Создать новость
</a>
<a
    class="m-3 link-success btn"
    (click)="addForum()"
>
    Создать форум
</a>
<a
    class="m-3 link-danger btn"
    (click)="addExperiment()"
>
    Создать эксперимент
</a>
<a
    class="m-3 link-warning btn"
    (click)="addIcon()"
>
    Создать значок
</a>
<a
    class="m-3 link-info btn"
    (click)="addPointsStoreItem()"
>
    Создать элемент магазина очков
</a>
<a
    class="m-3 link-info btn"
    (click)="addTag()"
>
    Создать тег
</a>
<a
    class="m-3 link-info btn"
    (click)="addAdmin()"
>
    Зарегестрировать админа
</a>